<?xml version="1.0" ?>
<module>
    <namespace>BulkEditor</namespace>
    <version>6.0.0</version>
    <author>Nexo Solutions LLC</author>
    <name>Bulk Editor</name>
    <description>This module helps updating entries in very few clicks.</description>
    <core min-version="6.0.0" max-version="6.99"/>
</module>
